<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541095232626-0n5ecovgkvhvopc2jk7in06sbuf9d5rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541095232626-0n5ecovgkvhvopc2jk7in06sbuf9d5rv</string>
	<key>API_KEY</key>
	<string>AIzaSyDJbxk732TbG3wZLO4SpS7f3tH4bNb1Dc8</string>
	<key>GCM_SENDER_ID</key>
	<string>541095232626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readbox</string>
	<key>PROJECT_ID</key>
	<string>readbox-910a2</string>
	<key>STORAGE_BUCKET</key>
	<string>readbox-910a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541095232626:ios:b6d1872641954808502eeb</string>
</dict>
</plist>